.code {
    width: 100%;
}

pre {
    font-family: monospace;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

footer.site-footer .footer-social-icons > a {
    width: 18px;
}

.navbar-social-icons .navbar-social-icon {
    width: 16px;
}

iframe {
    border: none;
}
