{% extends "./common/templates/layout.html" %}

{% block title %}About{% endblock %}

{% block content %}

<article class="single-page">
    <div class="container-fluid">
        <div class="row entry-content">
            <div class="col-md-7">
                <p><img class="img-responsive center-block" src="/common/static/img/me-profile.png" alt="image-alternative"></p>
            </div>
            <div class="col-md-5">
                <h5>whoami</h5>
                <p>
                    Professional bug writer (according to my job description).<br>
                    Part time <strike>noob</strike> <strike>script kiddie</strike> hacker (according to <a href="https://www.hackthebox.eu/profile/65491">HackTheBox</a>).<br>
                    Casual SpaceX worshipper (according to my religion).
                </p>
                <div class="htb"><script src="https://www.hackthebox.eu/badge/65491"></script></div>
                <p><strong>Mail:</strong> justin@justinduch.com <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x5297FF34E117CD75">(PGP Key: 5297ff34e117cd75)</a></p>
                <h5>why do i have a blog?</h5>
                <p>Originally this was just supposed to be a place where I write down things to keep as future reference. But as it turns out, I really enjoy ranting, so there's a lot of that now.</p>
                <p>It should go without saying that all opinions are my own and do not reflect those of anyone I work for.</p>
            </div>
            <div class="col-md-12 text-center">
                <p class="clearfix">&nbsp;</p>
                <h2>FAQ</h2>
                <p style="text-decoration: underline"><strong>What do you draw your thumbnails on?</strong></p>
                <p>My MacBook's touchpad and Krita.</p>
                <p style="text-decoration: underline"><strong>What's your favourite movie with a budget of under $10,000 released in late 2004?</strong></p>
                <p>Primer.</p>
                <p style="text-decoration: underline"><strong>What Linux distro do you use?</strong></p>
                <p>Hannah Montana Linux.</p>
                <p style="text-decoration: underline"><strong>How many mechanical keyboards do you have?</strong></p>
                <p>Four.</p>
                <p style="text-decoration: underline"><strong>Tabs or spaces?</strong></p>
                <p>Neither. I write everyting on one line.</p>
                <p style="text-decoration: underline"><strong>Why do you swear so much?</strong></p>
                <p>It's part of the ranting. I swe... uh, I promise I'm actually a good boy.</p>
            </div>
        </div>
    </div>
</article>

{% endblock %}
