{% extends "./common/templates/layout.html" %}

{% block title %}About{% endblock %}

{% block content %}

<article class="single-page">
    <div class="container-fluid">
        <div class="row entry-content">
            <div class="col-md-7">
                <p><img class="img-responsive center-block" src="/common/static/img/me-profile.webp" alt="image-alternative"></p>
            </div>
            <div class="col-md-5">
                <h5>whoami</h5>
                <p>I am a person with opinions. Sometimes I publish those opinions to the internet. If you like or dislike my opinions you can email me about your own opinions here:</p>
                <p><strong>Mail:</strong> justin@justinduch.com <a href="/publickey.txt">(PGP: 311DC918E44F90D5)</a></p>
                <p>It should go without saying that all opinions are my own and do not reflect those of anyone I work for.</p>
                <br>
                <h5>FAQ</h5>
                <p><strong>What Linux distro do you use?</strong> <br> Hannah Montana Linux.</p>
                <p><strong>How many mechanical keyboards do you have?</strong> <br> Five.</p>
                <p><strong>Cute boys or girls?</strong> <br> Both.</p>
                <p><strong>Where's the body?</strong> <br> Behind the windmill.</p>
            </div>
        </div>
    </div>
</article>

{% endblock %}
