<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114590042-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114590042-1');
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/common/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300i,300,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400i,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="/common/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/common/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css">
    <link rel="stylesheet" href="/common/static/css/styles.css">
    <link rel="stylesheet" href="/common/static/css/custom.css">
    {% block head %}
    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="/common/static/img/favicon.ico">
</head>

<body>
    <input type="hidden" id="redirect" value="{{ redirect }}">
    <header class="site-header">
        <nav class="navbar navbar-default primary-navigation">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand navbar-link" href="/">>blag_</a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-wrapper"><span class="sr-only">Toggle navigation</span><span class="first-icon-bar icon-bar"></span><span class="icon-bar"></span><span class="last-icon-bar icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-wrapper">
                    <ul class="nav navbar-nav">
                        <li role="presentation"><a href="/">Home </a></li>
                        <li role="presentation"><a href="/about">About </a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Articles <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="/infosec">Information Security</a></li>
                                <li role="presentation"><a href="/development">Software Development</a></li>
                                <li role="presentation"><a href="/engineering">Engineering</a></li>
                                <li role="presentation"><a href="/miscellaneous">Miscellaneous</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Projects <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="www.playlistdepressionscore.com">SPDS</a></li>
                                <li role="presentation"><a href="/viperidae2">Viperidae 2.0</a></li>
                            </ul>
                        </li>
                        <li role="presentation"><a href="/contact">Contact </a></li>
                    </ul>
                    <p class="hidden-xs hidden-sm hidden-md navbar-text navbar-social-icons">
                        <a class="navbar-link navbar-social-icon" href="#"><i class="fa fa-instagram"></i></a>
                        <a class="navbar-link navbar-social-icon" href="https://github.com/apt-helion"><i class="fa fa-github"></i></a>
                        <a class="navbar-link navbar-social-icon" href="#"><i class="fa fa-twitter"></i></a>
                    </p>
                    <form class="navbar-form hidden-xs hidden-sm hidden-md navbar-left navbar-search-form" target="_self">
                        <div class="form-group">
                            <label class="control-label" for="search-field"><i class="icon ion-ios-search-strong"></i></label>
                            <input class="form-control search-field" type="search" name="search" required="" id="search-field" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="site-footer">
        <ul class="list-inline text-center footer-menu">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a target="_blank" href="https://github.com/apt-helion/blog">Source Code</a></li>
        </ul>
        <div class="text-center footer-social-icons">
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/apt-helion"><i class="fa fa-github"></i></a>
            <a href="#"><i class="icon ion-social-twitter"></i></a>
        </div>
    </footer>
    <script src="/common/static/js/jquery.min.js"></script>
    <script src="/common/static/js/redirect.js"></script>
    <script src="/common/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDV2ZMJjT3fypUtqYzTApICleS8NLehA4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmap3/7.2.0/gmap3.js"></script>
    <script src="/common/static/js/custom.js"></script>
    {% block feet %}{% endblock %}
</body>

</html>
