/*********** Color Reference Chart ************

+---------------------------------------------+
|  Color Name  |         RGB        |   Hex   |
|--------------+--------------------+---------|
| Black        | rgb(40, 44, 52)    | #282c34 |
|--------------+--------------------+---------|
| White        | rgb(171, 178, 191) | #abb2bf |
|--------------+--------------------+---------|
| Light Red    | rgb(224, 108, 117) | #e06c75 |
|--------------+--------------------+---------|
| Dark Red     | rgb(190, 80, 70)   | #be5046 |
|--------------+--------------------+---------|
| Green        | rgb(152, 195, 121) | #98c379 |
|--------------+--------------------+---------|
| Light Yellow | rgb(229, 192, 123) | #e5c07b |
|--------------+--------------------+---------|
| Dark Yellow  | rgb(209, 154, 102) | #d19a66 |
|--------------+--------------------+---------|
| Blue         | rgb(97, 175, 239)  | #61afef |
|--------------+--------------------+---------|
| Magenta      | rgb(198, 120, 221) | #c678dd |
|--------------+--------------------+---------|
| Cyan         | rgb(86, 182, 194)  | #56b6c2 |
|--------------+--------------------+---------|
| Gutter Grey  | rgb(76, 82, 99)    | #4b5263 |
|--------------+--------------------+---------|
| Comment Grey | rgb(92, 99, 112)   | #5c6370 |
+---------------------------------------------+

**********************************************/

/* Code formatting */

code,
pre {
 	background    : #212121;
 	border-bottom : 2px solid #514c4c;
 	color         : #ffffff;
}

code {
 	padding        : 2px 4px;
 	vertical-align : text-bottom;
}

pre {
 	padding     : 1em;
 	border-left : 4px solid #05a508;
}

.comment     { color: #5c6370; } 
.string      { color: #98c379; }
.number      { color: #d19a66; } 
.boolean     { color: #d19a66; } 
.function    { color: #61afef; } 
.statement   { color: #c678dd; } 
.operator    { color: #c678dd; } 
.keyword     { color: #be5046; }  
.conditional { color: #c678dd; } 
