@import url('https://fonts.googleapis.com/css=?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css=?family=Roboto');

*    { box-sizing: border-box; }
body { background: url(/img/background.png); margin: 0; }
a    { text-decoration: none; color: inherit; }
h4 {
	color        : #77dd11;
	font-family  : Source Code Pro, monospace;
	margin       : 0px 0px 5px 0px;
}

/* Grid layout */

.container {
	margin    : 0;
	position  : absolute;
	top       : 50%;
	left      : 50%;
	transform : translate(-50%, -50%);
}
.grid {
	display               : grid;
	grid-template-columns : auto;
	grid-template-rows    : auto;
	grid-gap              : 0px;
}
.cell {
	padding: 10px 20px;
}

/* Cell formatting */

.cHead {
	padding-top       : 30px;
	grid-column-start : 1;
	grid-column-end   : 3;
	grid-row          : 1;
}
.cTree {
	font-family : Roboto, monospace;
	grid-column : 1;
	grid-row    : 2;
}

/* Tree style */

.cTree ul {
	margin     : 0px;
	list-style : none; line-height: 2em;
}
.cTree li {
	font-size : 16px;
	position  : relative;
	color     : #ffffff;
}
.cTree li:before {
	position      : absolute;
	left          : -15px;
	top           : 0px;
	content       : '';
	display       : block;
	border-left   : 1px solid #ffffff;
	height        : 1em;
	border-bottom : 1px solid #ffffff;
	width         : 10px;
}
.cTree li:after {
	position    : absolute;
	left        : -15px;
	bottom      : -7px;
	content     : '';
	display     : block;
	border-left : 1px solid #ffffff;
	height      : 100%;
}
.tree a                    { text-decoration: none; color: #ffffff; }
.tree a:hover              { color  : #77dd44; }
.tree .root                { margin : 0px 0px 0px -20px; }
.tree .root:before         { display: none; }
.tree .root:after          { display: none; }
.cTree li:last-child:after { display: none; }


