{% extends "./common/templates/layout.html" %}

{% block title %}Subscribe{% endblock %}

{% block content %}

<article class="single-page">
    <div class="container-fluid">
        <div class="row page-body">
            <div class="col-md-12 single-content">
                <div class="entry-content">
                    <h3>Thank you for subscribing!</h3>
                    <p>You can return to the homepage by <a href="/">clicking here.</a></p>
                </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}
