{% extends "./common/templates/layout.html" %}

{% block title %}Verify Email{% endblock %}

{% block content %}

<article class="single-page">
    <div class="container-fluid">
        <div class="row page-body">
            <div class="col-md-12 single-content">
                <div class="entry-content">
                    {% if success %}
                    <h3>Success!</h3>
                    <p>Your email has been verified and you will now recieve notifications whenever I post!</p>
                    <p>You can return to the homepage by <a href="/">clicking here.</a></p>
                    {% else %}
                        {% if error == 'invalid_code' %}
                        <h3>Oh no!</h3>
                        <p>This code does is not valid.</p>
                        <p>You can request a new one from the homepage by <a href="/">clicking here.</a></p>
                        {% endif %}
                        {% if error == 'code_expired' %}
                        <h3>Oh no!</h3>
                        <p>Your verification code has been expired.</p>
                        <p>You can request a new one from the homepage by <a href="/">clicking here.</a></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}
