{% extends "./common/templates/layout.html" %}

{% block content %}

<article class="single-page">
    <div class="container-fluid">
        <div class="row entry-content">
            <div class="col-md-7">
                <p><img class="img-responsive center-block" src="/common/static/img/about-me.jpg" alt="image-alternative"></p>
            </div>
            <div class="col-md-5">
                <p>Hello and welcome to our blog-&nbsp;a destination for those in search of understated minimal style, everyday luxury and enduring modern design. </p>
                <p>Here, you can go into more detail about yourself, your project, or your organization. You can talk about how your idea started, how long you’ve been working on it, what it stands for, and why it’s important. The more specific you are,
                    the more visitors can engage with what you do. This is also an opportunity to answer any questions they may have about you or your work. </p>
                <p><em><span style="text-decoration: underline;">I will always love you renting movies at a store adidas britney spears overalls with one strap undone smells like teen spirit. </span></em></p>
                <p><strong>Thank you for stopping by!&nbsp; </strong></p>
                <p>If you'd like to collaborate please email me at the address below. </p>
                <p><a href="mailto:diana_stephen@example.com">diana_stephen@example.com</a> </p>
                <p>&nbsp;</p>
                <p class="text-center signature"></p>
            </div>
            <div class="col-md-12">
                <p class="clearfix">&nbsp;</p>
                <p class="clearfix">&nbsp;</p>
                <h2 class="text-center">New to Here?</h2>
                <p class="text-center">Thanks so much for stopping by. Here are some popular posts you may enjoy. </p>
                <p>&nbsp;</p>
                <ul class="list-unstyled text-center">
                    <li><a href="#">DJ jazzy jeff wearing your cap backwards </a></li>
                    <li><a href="#">Acid wash life is like a box of chocolates </a></li>
                    <li><a href="#">Mia hamm gotta have my pops ford explorer blockbuster video</a> </li>
                    <li><a href="#">Boombox nickelodeon oregon trail discovery zone fresh </a></li>
                    <li><a href="#">Leggings dream team gangsta’s paradise warheads ring pops </a></li>
                    <li><a href="#">Armstrong tim “the tool man” taylor </a></li>
                </ul>
            </div>
        </div>
    </div>
</article>

{% endblock %}
