{% extends "./common/templates/layout.html" %}

{% block content %}

<article class="single-post">
    <div class="container-fluid">
        <div class="row meta">
            <div class="col-md-12">
                <ul class="list-inline meta text-center">
                    <li>{{article.date.strftime('%B %d, %Y')}}</li>
                </ul>
                <h1 class="text-center single-title">{{article.title}}</h1>
            </div>
        </div>

        <div class="row featured-image">
            <div class="col-md-12"><img class="img-responsive" src="/common/static/img/{{article.thumbnail}}" alt="thumbnail-image"></div>
        </div>

        <div class="row entry-content">
            <div class="col-md-3 single-post-left-sidebar"></div>
            <div class="col-md-6 single-content">


                <div class="entry-meta">
                    <p class="post-categories">Posted in: <a href="/{{article.category}}">{{article.category}}</a>
                    {% set tags = article.tags.split(',') %}
                    <p class="post-tags">Tags: {% for tag in tags %}<a href="#">{{tag}}</a>,&nbsp;{% endfor %}</p>
                </div>
            </div>
            <div class="col-md-3 single-post-right-sidebar"></div>
        </div>
        <div class="row post-nav">
            <div class="col-md-6 prev-post"><span>Previous </span>
                <h4> <a href="/article/{{previous.link}}">{{previous.title}}</a></h4></div>
            <div class="col-md-6 next-post"><span>Next </span>
                <h4> <a href="/article/{{next.link}}">{{next.title}}</a></h4></div>
            <div class="clearfix"></div>
        </div>
    </div>
</article>
{% endblock %}
