{% extends "./common/templates/layout.html" %}

{% block title %}About{% endblock %}

{% block content %}

<article class="single-page">
    <div class="container-fluid">
        <div class="row entry-content">
            <div class="col-md-7">
                <p><img class="img-responsive center-block" src="/common/static/img/about-me.jpg" alt="image-alternative"></p>
            </div>
            <div class="col-md-5">
                <h5>whoami</h5>
                <p>I will fill this in later.</p>
                <h5>why do i have a blog?</h5>
                <p>Some dude on Reddit said it was a good idea to show people that I know stuff, and we all know that it's always a good idea to take advice from random strangers on the internet.</p>
                <p>It should go without saying that all opinions are my own and do not reflect those of anyone I work for.</p>
                <p>&nbsp;</p>
                <p><strong>Thank you for stopping by!</strong></p>
                <p>You can email me with the address below.</p>
                <p><a href="mailto:blog.justinduch@pm.me">blog.justinduch@pm.me</a></p>
                <p>&nbsp;</p>
                <p class="text-center signature">helpme</p>
            </div>
            <div class="col-md-12">
                <p class="clearfix">&nbsp;</p>
                <p class="clearfix">&nbsp;</p>
                <h2 class="text-center">New to Here?</h2>
                <p class="text-center">Thanks so much for stopping by. Here are some of my favourite posts you may enjoy.</p>
                <ul class="list-unstyled text-center">
                    <li><a href="/article/how_do_you_write_a_blog">How the Fuck Do You Write a Blog?</a></li>
                    <li><a href="/article/ssl_and_encryption">SSL and Encryption</a></li>
                </ul>
            </div>
        </div>
    </div>
</article>

{% endblock %}
