{% extends "./common/templates/layout.html" %}

{% block title %}About{% endblock %}

{% block content %}

<article class="single-page">
    <div class="container-fluid">
        <div class="row entry-content">
            <div class="col-md-7">
                <p><img class="img-responsive center-block" src="/common/static/img/me-profile.png" alt="image-alternative"></p>
            </div>
            <div class="col-md-5">
                <h5>whoami</h5>
                <p>Professional bug writer (according to my job description).<br> Part time <strike>noob</strike> script kiddie (according to HackTheBox).<br> Casual SpaceX worshipper (according to my religion).</p>
                <div class="htb"><script src="https://www.hackthebox.eu/badge/65491"></script></div>
                <p><strong>Mail:</strong> justin@justinduch.com <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x5297FF34E117CD75">(PGP Key: 5297ff34e117cd75)</a></p>
                <h5>why do i have a blog?</h5>
                <p>Originally this was just supposed to be a place where I write down things to keep as future reference. But as it turns out, I really enjoy ranting, so there's a lot of that now.</p>
                <p>It should go without saying that all opinions are my own and do not reflect those of anyone I work for.</p>
            </div>
            <div class="col-md-12 text-center">
                <p class="clearfix">&nbsp;</p>
                <h2>FAQ</h2>
                <p style="text-decoration: underline"><strong>What do you draw your thumbnails on?</strong></p>
                <p>My MacBook's touchpad and Krita.</p>
                <p style="text-decoration: underline"><strong>What's your favourite movie with a budget of under $10,000 released in late 2004?</strong></p>
                <p>Primer.</p>
                <p style="text-decoration: underline"><strong>What Linux distro do you use?</strong></p>
                <p>Hannah Montana Linux.</p>
                <p style="text-decoration: underline"><strong>How many mechanical keyboards do you have?</strong></p>
                <p>Three.</p>
                <p style="text-decoration: underline"><strong>Tabs or spaces?</strong></p>
                <p>Neither. I write everyting on one line.</p>
                <p class="clearfix">&nbsp;</p>
                <h2>New to Here?</h2>
                <p>Thanks much for stopping by. Here are some of my favourite posts you may enjoy.</p>
                <ul class="list-unstyled text-center">
                    <li><a href="/article/how_do_you_write_a_blog">How the Fuck Do You Write a Blog?</a></li>
                    <li><a href="/article/bad_malware_analysis">Let's Look At Malware I Got From Work</a></li>
                    <li><a href="/article/basic_wapt">A Basic Pen Test Of Every Web Application I've Made</a></li>
                </ul>
            </div>
        </div>
    </div>
</article>

{% endblock %}
