{% extends "./common/templates/layout.html" %}

{% block content %}

<div class="highlight-post overlay-dark-5">
    <div class="container-fluid">
        <div class="intro">
            <p class="text-center">Fila crib trippin’ hot pink umbro shorts atlanta braves!</p>
            <h2 class="text-center">Union jack life is like a box of chocolates hot pockets umbro shorts the matrix cheetos.</h2>
            <div class="buttons"><a class="btn btn-default btn-readmore" role="button" href="#">Read More</a></div>
        </div>
    </div>
</div>

<div class="recent-posts first">
    <div class="container-fluid">
        <div class="row headline">
            <div class="col-sm-6 heading">
                <h3>InfoSec </h3></div>
            <div class="col-sm-6 see-all-posts"><a href="/infosec" class="see-all-posts">See All in Fashion </a></div>
        </div>
        <div class="row posts-wrapper col-3">
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="single-post-with-sidebar.html" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/home-1-img-4.jpg" alt="image-alternative"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">April 05, 2017 </span></div>
                        <h2 class="post-title"><a href="single-post-with-sidebar.html">This Space is Perfect for Inspiring Your Readers with a Bold Title</a></h2></div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="single-post-without-sidebar.html" class="post-thumbnail"><img src="/common/static/img/home-1-img-5.jpg" alt="image-alternative" class="img-responsive"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">April 05, 2017 </span></div>
                        <h2 class="post-title"><a href="single-post-without-sidebar.html">Write a Compelling Blog Post Title Here</a></h2></div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12 post-grid-wrapper">
                <article>
                    <a href="single-post-with-sidebar.html" class="post-thumbnail"><img src="/common/static/img/home-1-img-8.jpg" alt="image-alternative" class="img-responsive"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">April 05, 2017 </span></div>
                        <h2 class="post-title"><a href="single-post-without-sidebar.html">Captivate Your Readers With an Interesting Blog Post Title</a></h2></div>
                </article>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="recent-posts">
    <div class="container-fluid">
        <div class="row headline">
            <div class="col-sm-6 heading">
                <h3>Natural Remedies </h3></div>
            <div class="col-sm-6 see-all-posts"><a href="#" class="see-all-posts">See All in Natural Remedies</a></div>
        </div>
        <div class="row posts-wrapper col-3">
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="single-post-without-sidebar.html" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/home-1-img-10.jpg" alt="image-alternative"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">April 05, 2017 </span></div>
                        <h2 class="post-title"><a href="single-post-without-sidebar.html">Write a Compelling Blog Post Title Here</a></h2></div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="single-post-with-sidebar.html" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/home-1-img-9.jpg" alt="image-alternative"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">April 05, 2017 </span></div>
                        <h2 class="post-title"><a href="single-post-without-sidebar.html">Captivate Your Readers With an Interesting Blog Post Title</a></h2></div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12 post-grid-wrapper">
                <article>
                    <a href="single-post-without-sidebar.html" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/home-1-img-11.jpg" alt="image-alternative"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">April 05, 2017 </span></div>
                        <h2 class="post-title"><a href="single-post-without-sidebar.html">Draw Readers in With an Alluring Blog Post Title Here</a></h2></div>
                </article>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="recent-posts last">
    <div class="container-fluid">
        <div class="row headline">
            <div class="col-sm-6 heading">
                <h3>Lifestyle </h3></div>
            <div class="col-sm-6 see-all-posts"><a href="#" class="see-all-posts">See All in Lifestyle</a></div>
        </div>
        <div class="row posts-wrapper col-3">
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="single-post-with-sidebar.html" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/home-1-img-6.jpg" alt="image-alternative"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">April 05, 2017 </span></div>
                        <h2 class="post-title"><a href="single-post-with-sidebar.html">This Space is Perfect for Inspiring Your Readers with a Bold Title</a></h2></div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="single-post-without-sidebar.html" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/home-1-img-12.jpg" alt="image-alternative"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">April 05, 2017 </span></div>
                        <h2 class="post-title"><a href="single-post-without-sidebar.html">Write a Compelling Blog Post Title Here</a></h2></div>
                </article>
            </div>
            <div class="col-md-4 col-sm-12 post-grid-wrapper">
                <article>
                    <a href="single-post-with-sidebar.html" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/home-1-img-13.jpg" alt="image-alternative"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">April 05, 2017 </span></div>
                        <h2 class="post-title"><a href="single-post-without-sidebar.html">Captivate Your Readers With an Interesting Blog Post Title</a></h2></div>
                </article>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="dual-call-to-action overlay-dark-5">
    <div class="container-fluid">
        <div class="intro">
            <div class="row">
                <div class="col-md-6 col-sm-6 left">
                    <p class="text-center">Super Mario, World Apollo&nbsp; </p>
                    <h2 class="text-center">Blue Jeans</h2>
                    <div class="buttons"><a class="btn btn-default btn-readmore" role="button" href="#">Learn More</a></div>
                </div>
                <div class="col-md-6 col-sm-6 right">
                    <p class="text-center"><em>How do You Like Them?</em> </p>
                    <h2 class="text-center">White Shirt</h2>
                    <div class="buttons"><a class="btn btn-default btn-readmore" role="button" href="#">Subscribe </a></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
