{% extends "./common/templates/layout.html" %}

{% block content %}

<div class="highlight-post overlay-dark-5" style="background-image:url('/common/static/img/{{random.thumbnail}}');">
    <div class="container-fluid">
        <div class="intro">
            <p class="text-center">Random Article</p>
            <h2 class="text-center">{{random.title}}</h2>
            <div class="buttons"><a class="btn btn-default btn-readmore" role="button" href="/article/{{random.link}}">Read More</a></div>
        </div>
    </div>
</div>

<div class="recent-posts first">
    <div class="container-fluid">
        <div class="row headline">
            <div class="col-sm-6 heading">
                <h3>Informtion Security </h3></div>
            <div class="col-sm-6 see-all-posts"><a href="/infosec" class="see-all-posts">See All in Informtion Security</a></div>
        </div>
        <div class="row posts-wrapper col-3">

            {% for article in infosec %}
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="/article/{{article.link}}" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/{{article.thumbnail}}" alt="thumbnail-image"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">{{article.date.strftime('%B %d, %Y')}}</span></div>
                        <h2 class="post-title"><a href="/article/{{article.link}}">{{article.title}}</a></h2></div>
                </article>
            </div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="recent-posts">
    <div class="container-fluid">
        <div class="row headline">
            <div class="col-sm-6 heading">
                <h3>Software Development </h3></div>
            <div class="col-sm-6 see-all-posts"><a href="/development" class="see-all-posts">See All in Software Development</a></div>
        </div>
        <div class="row posts-wrapper col-3">

            {% for article in development %}
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="/article/{{article.link}}" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/{{article.thumbnail}}" alt="thumbnail-image"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">{{article.date.strftime('%B %d, %Y')}}</span></div>
                        <h2 class="post-title"><a href="/article/{{article.link}}">{{article.title}}</a></h2></div>
                </article>
            </div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="recent-posts">
    <div class="container-fluid">
        <div class="row headline">
            <div class="col-sm-6 heading">
                <h3>Engineering </h3></div>
            <div class="col-sm-6 see-all-posts"><a href="/engineering" class="see-all-posts">See All in Engineering</a></div>
        </div>
        <div class="row posts-wrapper col-3">

            {% for article in engineering %}
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="/article/{{article.link}}" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/{{article.thumbnail}}" alt="thumbnail-image"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">{{article.date.strftime('%B %d, %Y')}}</span></div>
                        <h2 class="post-title"><a href="/article/{{article.link}}">{{article.title}}</a></h2></div>
                </article>
            </div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="recent-posts last">
    <div class="container-fluid">
        <div class="row headline">
            <div class="col-sm-6 heading">
                <h3>Miscellaneous </h3></div>
            <div class="col-sm-6 see-all-posts"><a href="/miscellaneous" class="see-all-posts">See All in Miscellaneous</a></div>
        </div>
        <div class="row posts-wrapper col-3">

            {% for article in miscellaneous %}
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="/article/{{article.link}}" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/{{article.thumbnail}}" alt="thumbnail-image"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">{{article.date.strftime('%B %d, %Y')}}</span></div>
                        <h2 class="post-title"><a href="/article/{{article.link}}">{{article.title}}</a></h2></div>
                </article>
            </div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="col-sm-6 heading text-center"><h3>Software Projects</h3></div>
<div class="dual-call-to-action overlay-dark-5" style="background-image:url('/common/static/img/dual-parallax.jpg');">
    <div class="container-fluid">
        <div class="intro">
            <div class="row">
                <div class="col-md-6 col-sm-6 left">
                    <p class="text-center">Spotify Playlist Depression Score</p>
                    <h2 class="text-center">SPDS</h2>
                    <div class="buttons"><a class="btn btn-default btn-readmore" role="button" href="www.playlistdepressionscore.com">View</a></div>
                </div>
                <div class="col-md-6 col-sm-6 right">
                    <p class="text-center">Small Scale Website Search Engine</p>
                    <h2 class="text-center">Viperidae 2.0</h2>
                    <div class="buttons"><a class="btn btn-default btn-readmore" role="button" href="#">View</a></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
