{% extends "./common/templates/layout.html" %}

{% block content %}

<div class="highlight-post overlay-dark-5">
    <div class="container-fluid">
        <div class="intro">
            <p class="text-center">Fila crib trippin’ hot pink umbro shorts atlanta braves!</p>
            <h2 class="text-center">Union jack life is like a box of chocolates hot pockets umbro shorts the matrix cheetos.</h2>
            <div class="buttons"><a class="btn btn-default btn-readmore" role="button" href="#">Read More</a></div>
        </div>
    </div>
</div>

<div class="recent-posts first">
    <div class="container-fluid">
        <div class="row headline">
            <div class="col-sm-6 heading">
                <h3>Informtion Security </h3></div>
            <div class="col-sm-6 see-all-posts"><a href="/infosec" class="see-all-posts">See All in Informtion Security</a></div>
        </div>
        <div class="row posts-wrapper col-3">

            {% for article in infosec %}
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="single-post-with-sidebar.html" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/{{article.thumbnail}}" alt="thumbnail-image"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">{{article.date}}</span></div>
                        <h2 class="post-title"><a href="single-post-with-sidebar.html">{{article.title}}</a></h2></div>
                </article>
            </div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="recent-posts">
    <div class="container-fluid">
        <div class="row headline">
            <div class="col-sm-6 heading">
                <h3>Software Development </h3></div>
            <div class="col-sm-6 see-all-posts"><a href="/development" class="see-all-posts">See All in Software Development</a></div>
        </div>
        <div class="row posts-wrapper col-3">

            {% for article in development %}
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="single-post-with-sidebar.html" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/{{article.thumbnail}}" alt="thumbnail-image"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">{{article.date}}</span></div>
                        <h2 class="post-title"><a href="single-post-with-sidebar.html">{{article.title}}</a></h2></div>
                </article>
            </div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="recent-posts last">
    <div class="container-fluid">
        <div class="row headline">
            <div class="col-sm-6 heading">
                <h3>Miscellaneous </h3></div>
            <div class="col-sm-6 see-all-posts"><a href="/miscellaneous" class="see-all-posts">See All in Miscellaneous</a></div>
        </div>
        <div class="row posts-wrapper col-3">

            {% for article in miscellaneous %}
            <div class="col-md-4 col-sm-6 post-grid-wrapper">
                <article>
                    <a href="single-post-with-sidebar.html" class="post-thumbnail"><img class="img-responsive" src="/common/static/img/{{article.thumbnail}}" alt="thumbnail-image"></a>
                    <div class="post-summary">
                        <div class="post-meta"><span class="post-date">{{article.date}}</span></div>
                        <h2 class="post-title"><a href="single-post-with-sidebar.html">{{article.title}}</a></h2></div>
                </article>
            </div>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="dual-call-to-action overlay-dark-5">
    <div class="container-fluid">
        <div class="intro">
            <div class="row">
                <div class="col-md-6 col-sm-6 left">
                    <p class="text-center">Super Mario, World Apollo&nbsp; </p>
                    <h2 class="text-center">Blue Jeans</h2>
                    <div class="buttons"><a class="btn btn-default btn-readmore" role="button" href="#">Learn More</a></div>
                </div>
                <div class="col-md-6 col-sm-6 right">
                    <p class="text-center"><em>How do You Like Them?</em> </p>
                    <h2 class="text-center">White Shirt</h2>
                    <div class="buttons"><a class="btn btn-default btn-readmore" role="button" href="#">Subscribe </a></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
