{% extends "./common/templates/layout.html" %}

{% block content %}

<article class="single-page">
    <div class="container-fluid">
        <div class="row meta">
            <div class="col-md-12">
                <h1 class="text-center single-title">Come and Say Hi!</h1></div>
        </div>
        <div class="row entry-content">
            <div class="col-md-8 col-md-offset-2">
                <p>Would love to hear from you, whether it's advice or you'd like to connect. I am always looking for others to collaborate with -- please don't hesitate to reach out if you'd like to work on a project together! </p>
                <p>&nbsp;</p>
                <p> <img class="img-responsive" src="/common/static/img/contact-me.jpg" alt="image-alternative"></p>
                <p>Please complete the form below. </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="row contact-form overlay-dark-3 force-fullwidth">
            <div class="col-md-12">
                <div id="googlemaps" data-address="1133 6th Ave, New York, NY 10036" data-lat="40.735417" data-long="-73.990478" data-zoom="15"></div>
                <div class="contact-clean">
                    <form method="post" target="_self" enctype="multipart/form-data" id="contact-form" name="contact-form">
                        <header>
                            <h2 class="text-center heading">Contact ME</h2>
                            <p class="text-center extra-info">To contact me please email <a href="mailto:diana_stephen@example.com">diana_stephen@example.com</a> or submit your enquiry using the form below. </p>
                        </header>
                        <div class="form-group name-input-wrapper">
                            <label class="control-label sr-only" for="name">Name </label>
                            <input class="form-control" type="text" name="name" required="" placeholder="Name">
                        </div>
                        <div class="form-group email-input-wrapper">
                            <label class="control-label sr-only" for="email">E-mail </label>
                            <input class="form-control" type="email" name="email" required="" placeholder="Email" inputmode="email">
                        </div>
                        <div class="form-group message-input-wrapper">
                            <label class="control-label sr-only" for="message">Message </label>
                            <textarea class="form-control" rows="5" name="message" required="" placeholder="Message"></textarea>
                        </div>
                        <div class="contact-form-btn-wrapper">
                            <button class="btn btn-default btn-submit" type="submit">Send your Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>

{% endblock %}
